@mixin link {
    color: $link;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:active {
        color: $link-hover;
    }
    &:focus {
        outline: thin dotted;
    }

    &.disabled,
    &[disabled] {
        color: darken(#FFF, 20%);
        cursor: default;
        pointer-events: none;
    }
}


@if $use-boilerplate-classes {
    a,
    .link {
        @include link;
    }

    button.link {
        background: transparent;
        padding: inherit;
        text-align: inherit;
        font-weight: inherit;
    }
}
