.siteFooter {
    background-color: $blue-900;
    color: $white;
    padding: 2rem 0;

    a {
        color: $white;
    }

    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > * {
            flex: 1;
        }

        @include at(lg) {
            align-items: flex-start;
            flex-direction: row;
        }
    }

    &__links {
        display: block;
        flex: 2;
        gap: $h-space;
        width: 100%;

        @include at(lg) {
            display: flex;
        }

        > * {
            width: auto;
        }
    }

    &__linkGroup {
        text-align: center;

        & + & {
            margin-left: 0;
        }

        @include at(lg) {
            text-align: left;
        }
    }

    &__brand {
        align-items: center;
        color: $primary;
        display: flex;
        padding: $thin-v-space 0;

        @include at(lg) {
            margin-right: 2rem;
        }
    }

    &__logo {
        margin-right: .5rem;
    }

    &__socialLinks {
        display: flex;
        justify-content: flex-end;
    }

    &__socialLink {
        padding: 1rem 0;

        & + & {
            margin-left: .5rem;
        }
    }

    &__utility {
        color: $gray-300;
        display: flex;
        font-size: .875rem;
        justify-content: space-between;
        padding-top: 2rem;

        a {
            color: $gray-300;
        }
    }
}
