<div class="login">
    <form action="">
        <div class="text">
            <label for="username">Username</label>
            <input type="text" name="username" />
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input type="password" name="password" />
        </div>
        <div class="actions">
            <div class="submit">
                <button type="submit">Login</button>
            </div>
            <label for="remember_me">
                <input type="hidden" name="remember_me" value="no" />
                <input type="checkbox" name="remember_me" value="yes" id="remember_me" />
                Remember me
            </label>
            <a href="#">Forgot Your Password?</a>
        </div>
    </form>
</div>
