///
/// FEATURES holds three modules in one row. Powered by flexbox,
/// this allows for a bottom alignment of an optional button.
///
/// $gutter
///     Width between features when displayed side by side.
///

@mixin features($gutter: $gutter) {
    @include breakpoint(lg) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        &__feature {
            @include wrap(1, 3, $gutter);

            display: flex;
            flex-direction: column;
        }
    }
}
