///
/// FEATURES holds three modules in one row. Powered by flexbox,
/// this allows for a bottom alignment of an optional button.
///
/// $gutter
///     Width between features when displayed side by side.
///

@mixin features($gutter: 3rem) {
    @include breakpoint(lg) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        &__feature {
            display: flex;
            flex: 1 0 0%;
            flex-direction: column;
            margin-left: $gutter;
            margin-right: 0;
        }

        &__feature:not(:first-child) {
            margin-left: $gutter;
        }
    }
}

@if $use-boilerplate-classes {
    .features {
        @include features;
    }
}
