<div class="container">
    <div class="features">
        <div class="feature">
            <div class="icon">
                <img src="http://dummyimage.com/50x40/ff675b/fff.png&amp;text=icon" alt="">
            </div>
            <h4>One Great Headline</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos et voluptatum aliquam neque beatae.</p>
            <a href="" class="button">Learn More</a>
        </div>
        <div class="feature">
            <h4>One Great Headline</h4>
            <div class="icon">
                <img src="http://dummyimage.com/50x40/ff675b/fff.png&amp;text=icon" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="" class="button">Learn More</a>
        </div>
        <div class="feature">
            <div class="icon">
                <img src="http://dummyimage.com/50x40/ff675b/fff.png&amp;text=icon" alt="">
            </div>
            <h4>One Great Headline</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos et voluptatum aliquam neque beatae tempora distinctio numquam iusto sed iure impedit.</p>
            <a href="" class="button">Learn More</a>
        </div>
    </div>
</div>
