<div class="dossier">
    <div>
        <div class="photo">
            <img src="{{ prefix("/media/dossier-1.jpg") }}" alt="Jane Doe" />
        </div>
        <div class="bio">
            <h2>
                Jane Doe
            </h2>
            <p class="title">
                Executive Vice President of Operations
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quidem, soluta quisquam est velit praesentium ex, vero perspiciatis ad autem sapiente. Sed amet et voluptates, inventore corrupti quas assumenda nemo quibusdam magni officia ut, aperiam quo, quae! Eos, unde ea placeat ab earum molestias a veritatis architecto quas.
            </p>
            <p>
                Magnam quidem, soluta quisquam est velit praesentium ex, vero perspiciatis ad autem sapiente. Sed amet et voluptates, inventore corrupti quas assumenda nemo quibusdam magni officia ut, aperiam quo quae! Eos unde ea placeat.
            </p>
        </div>
    </div>
    <div>
        <div class="photo">
            <img src="{{ prefix("/media/dossier-2.jpg") }}" alt="Jonathan Doe" />
        </div>
        <div class="bio">
            <h2>
                Jonathan Doe
            </h2>
            <p class="title">
                Executive Vice President of Finances
            </p>
            <p>
                Magnam quidem, soluta quisquam est velit praesentium ex, vero perspiciatis ad autem sapiente. Sed amet et voluptates, inventore corrupti quas assumenda nemo quibusdam magni officia ut, aperiam quo quae! Eos unde ea placeat.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quidem, soluta quisquam est velit praesentium ex, vero perspiciatis ad autem sapiente. Sed amet et voluptates, inventore corrupti quas assumenda nemo quibusdam magni officia ut, aperiam quo, quae! Eos, unde ea placeat ab earum molestias a veritatis architecto quas.
            </p>
        </div>
    </div>
</div>
