<section class="{{ class }} designedSection -twoColumn -imageText">
    <div class="designedSection__container container">
        <header class="designedSection__header">
            <div class="eyebrow -primary">interesting eyebrow</div>
        </header>
        <div class="designedSection__content -columns">
            <div class="designedSection__item -span-8 image">
                <svg viewBox="0 0 100 50"><rect height="50" width="100" style="fill-opacity:.05" /></svg>
            </div>
            <div class="designedSection__item -span-4 text">
                <h3>Elit nulla quas possimus exercitationem</h3>
                <p>Consectetur alias placeat doloremque placeat asperiores Reprehenderit corporis atque amet sunt ullam assumenda delectus. Molestiae sapiente laudantium officia asperiores excepturi. Earum tempora labore neque quia accusantium molestiae unde facere? Dolor.</p>
            </div>
        </div>
    </div>
</section>
