///
/// container mixin
///
@use "variables";

@mixin container($max-width: 1200px, $padding: variables.$gutter ) {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
    padding-left: $padding;
    padding-right: $padding;
    position: relative;
}
