@use "/resources/styles/abstracts/variables.scss";
@use "/resources/styles/abstracts/mixins.scss" as *;
@use "sass:map";

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: #{map.get(variables.$breakpoints, sm, gap)};
    padding-right: #{map.get(variables.$breakpoints, sm, gap)};

    @include at(md) {
        max-width: #{map.get(variables.$breakpoints, lg, width)};
        padding-left: #{map.get(variables.$breakpoints, md, gap)};
        padding-right: #{map.get(variables.$breakpoints, md, gap)};
    }

    @include at(lg) {
        max-width: #{map.get(variables.$breakpoints, xl, width)};
        padding-left: #{map.get(variables.$breakpoints, lg, gap)};
        padding-right: #{map.get(variables.$breakpoints, lg, gap)};
    }
}
