@use "/resources/styles/common" as *;
@use "/resources/styles/config";

.primaryNav {
    display: none;

    &__list {
        list-style: none;
        padding-left: 0;
        display: flex;
    }

    &__item {
        margin-bottom: 0;
    }

    &__link {
        display: block;
        padding: 1.5rem config.$h-space;
        font-weight: bold;
    }

    @include at(lg) {
        display: block;
    }
}
