.primaryNav {
    display: none;

    &__list {
        list-style: none;
        margin: 0;
        padding-left: 0;
        display: flex;
    }

    &__item {
        margin-bottom: 0;
    }

    &__link {
        display: block;
        padding: $padding;
        font-weight: bold;
    }

    @include at(lg) {
        display: block;
    }
}
