///
/// LISTING shows a listing of entries. It includes an optional search form with filters.
/// Remove the search form elements for a simple list.
///
@mixin listing() {
    margin-bottom: 2rem;

    &__searchBar {
        display: flex;
        margin-bottom: 1rem;
    }
    &__searchField {
        flex-grow: 1;
    }
    &__searchButton {
        flex-basis: 120px;
        flex-grow: 0;
        height: 100%;
    }

    &__filters {
        margin-bottom: 2rem;
    }

    &__results {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__result {
        border-top: 4px solid $border;
        margin-bottom: 0;
        padding: 2rem 0;
    }

    &__resultTitle {
        margin-bottom: .25rem;
    }

    &__resultMeta {
        display: block;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    &__resultDescription {
        p:last-child {
            margin-bottom: 0;
        }
    }
}
