.heading {
    font-weight: normal;
    line-height: 1.2;
    margin: 0 0 .6em;
}

h1,
.h1 {
    @extend .heading;
    @include at-each(2.2rem, md 2.4rem, lg 2.6rem) using ($size) {
        font-size: $size;
    }
}

h2,
.h2 {
    @extend .heading;
    @include at-each(1.88rem, md 2rem, lg 2.15rem) using ($size) {
        font-size: $size;
    }
}

h3,
.h3 {
    @extend .heading;
    @include at-each(1.6rem, md 1.68rem, lg 1.77rem) using ($size) {
        font-size: $size;
    }
}

h4,
.h4 {
    @extend .heading;
    @include at-each(1.37rem, md 1.42rem, lg 1.47rem) using ($size) {
        font-size: $size;
    }
}

h5,
.h5 {
    @extend .heading;
    @include at-each(1.17rem, md 1.19rem, lg 1.21rem) using ($size) {
        font-size: $size;
    }
}
