<button class="disabled" disabled>Disabled Button</button>
<input class="disabled" disabled type="button" value="Button Input">
<input class="disabled" disabled type="submit" value="Submit Input">
<input class="disabled" disabled type="reset" value="Reset Input">
