<section class="{{ class }} callToActionSection">
    <div class="callToActionSection__container container">
        <header class="callToActionSection__header">
            <div class="heading__eyebrow eyebrow -primary">interesting eyebrow</div>
            <h2 class="callToActionSection__heading">What are you waiting for?</h2>
        </header>
        <div class="callToActionSection__content">
            <p>Consectetur alias placeat doloremque placeat asperiores Reprehenderit corporis atque amet sunt ullam assumenda delectus.</p>
        </div>
        <div class="callToActionSection__actions">
            <a class="callToActionSection__action button -outline" href="#">Sign Up Now</a>
        </div>
    </div>
</section>
