///
/// PROGRESS provides a basic, pill-style progress nav bar like you
/// might find as part of an ecommerce or registration process.
///
@mixin progress() {
    &__list {
        @include no-bullets;
        position: relative;

        &::before {
            border-left: .5rem solid $blue-300;
            bottom: 1rem;
            content: '';
            left: .75rem;
            position: absolute;
            top: 1rem;
            z-index: -1;
        }
    }

    &__item {
        margin-bottom: 1rem;
    }

    &__link {
        color: $blue-400;

        &:hover {
            .progress__icon {
                transform: scale(1.25);
            }
        }

        &.-active {
            font-weight: bold;

            .progress__icon {
                transform: scale(1.25);
            }
        }
    }

    &__icon {
        background-color: $blue-300;
        border-radius: 2rem;
        color: $white;
        height: 2em;
        margin-right: 1rem;
        padding: .25rem;
        transition: transform $fade-easing $fast;
        vertical-align: middle;
        width: 2em;
    }

    @include at(md) {
        display: flex;
        justify-content: center;

        &__list {
            display: flex;
            justify-content: center;

            &::before {
                display: none;
            }
        }

        &__link {
            align-items: center;
            display: flex;
            flex-flow: column nowrap;
            padding: 1rem;
            position: relative;

            &::before {
                content: '';
                border-top: .5rem solid $blue-300;
                position: absolute;
                left: 0;
                right: 0;
                top: 1.75rem;
                z-index: -1;

                .progress__item:first-child & {
                    left: 50%;
                }

                .progress__item:last-child & {
                    right: 50%;
                }
            }

        }

        &__icon {
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}

.progress {
    @include progress;
}
