<nav class="progress">
    <ul class="progress__list">
        <li class="progress__item">
            <a class="progress__link -complete" href="#">Nav Item 1</a>
        </li>
        <li class="progress__item">
            <a class="progress__link -complete" href="#">Nav Item 2</a>
        </li>
        <li class="progress__item">
            <a class="progress__link -active" href="#">Nav Item 3</a>
        </li>
        <li class="progress__item">
            <a class="progress__link" href="#">Nav Item 4</a>
        </li>
        <li class="progress__item">
            <a class="progress__link -disabled" href="#">Nav Item 5</a>
        </li>
    </ul>
</nav>
