{% render "@site-header" %}

<main>
    <section class="layer -dark">
        <div class="layer__background">
            <img class="layer__backgroundImg" src="https://placeimg.com/1920/640/tech" alt="">
        </div>
        <div class="layer__container container">
            <div class="layer__title">
                <div class="heading__eyebrow eyebrow">kicker</div>
                <h1 class="layer__heading">Congratulations.</h1>
                <h2 class="layer__subheading">Now time to get cranking.</h2>
            </div>
            <div class="layer__introduction">
                <p>
                    You've successfully got a new site up and running using
                    Padstone, a starter package built by Imarc.
                </p>
            </div>
            <div class="layer__action">
                <a class="layer__cta button -primary" href="#">Learn More</a>
            </div>
        </div>
    </section>

    {% render "@layer--two-column" %}
</main>

{% render "@site-footer" %}
