///
/// PAGINATION provides a navigational unordered list of pages. Often used
/// in conjunction of a LISTING component.
///
/// $text-color
///     Text color.
/// $active-color
///     Current page background color.
/// $hover-color
///     Hover color.
/// $active-text-color
///     Current page text color.
/// $border
///     Border color; also used for disabled text.
///

@mixin pagination (
    $text-color: $link,
    $active-color: $brand-blue,
    $hover-color: $link-hover,
    $active-text-color: $white,
    $border: $border,
) {
    display: flex;
    justify-content: center;

    &__list {
        padding-left: 0;
        border-radius: 2px;
        border: 1px solid $border;
        display: flex;
        justify-content: center;
        list-style: none;
    }
    &__item {
        margin-bottom: 0;
    }
    &__link {
        color: $text-color;
        display: block;
        padding: 0.5rem 1rem;
        position: relative;
    }
    &__item:not(:last-child) &__link {
        border-right: 1px solid $border;
    }
    &__item.-active &__link {
        background-color: $active-color;
        color: $active-text-color;
        cursor: default;
        pointer-events: none;

        &::before,
        &::after {
            background-color: $active-color;
        }

        &:hover {
            background-color: $hover-color;
            color: $active-text-color;

            &::before,
            &::after {
                background-color: $hover-color;
            }
        }
    }

    &__item.-disabled &__link {
        color: $border;
        cursor: default;
        pointer-events: none;
    }
    &__item.-previous &__link {
        &::before {
            @include fontawesome(900, "\f100");
        }
    }
    &__item.-next &__link {
        &::before {
            @include fontawesome(900, "\f101");
        }
    }
    &__item:hover &__link {
        background-color: $text-color;
        color: $active-text-color;

        &::before {
            background-color: $text-color;
            color: $active-text-color;
        }
    }
}

@if $use-boilerplate-classes {
    .pagination {
        @include pagination;
    }
}
