<nav class="{{ class }} pagination">
    <ul class="pagination__list">
        <li class="pagination__item -previous">
            <a class="pagination__button button" href="" aria-label="Previous">
                <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.55453 15.7068C8.17395 16.0977 7.55692 16.0977 7.17634 15.7068L0.285431 8.62888C0.182086 8.52273 0.106805 8.39867 0.0595869 8.26643C0.0100288 8.12764 -0.00861679 7.97983 0.00365159 7.83425C0.0110416 7.74592 0.0296001 7.66087 0.0578692 7.58059C0.0931955 7.48005 0.144694 7.38415 0.212367 7.29716C0.234925 7.26816 0.259279 7.24015 0.285431 7.21329L0.288771 7.20988L7.0227 0.293178C7.40327 -0.0977263 8.02031 -0.0977256 8.40088 0.293178C8.78146 0.684082 8.78146 1.31786 8.40088 1.70877L3.32724 6.92012H23.0255C23.5637 6.92012 24 7.36827 24 7.92109C24 8.47391 23.5637 8.92206 23.0255 8.92206L3.32723 8.92206L8.55453 14.2912C8.9351 14.6821 8.9351 15.3159 8.55453 15.7068Z" fill="currentColor"/>
                </svg>

            </a>
        </li>

        <li class="pagination__item"><a class="pagination__link" href="">1</a></li>
        <li class="pagination__item"><a class="pagination__link" href="">2</a></li>
        <li class="pagination__item -active"><a class="pagination__link" href="">3</a></li>
        <li class="pagination__item"><a class="pagination__link" href="">4</a></li>
        <li class="pagination__item"><a class="pagination__link" href="">5</a></li>
        <li class="pagination__item"><a class="pagination__link" href="">6</a></li>

        <li class="pagination__item -next -disabled">
            <a class="pagination__button button" href="" aria-label="Next">
                <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.4494 15.7068C15.83 16.0977 16.447 16.0977 16.8276 15.7068L23.7185 8.62888C23.8218 8.52273 23.8971 8.39867 23.9443 8.26643C23.9939 8.12764 24.0125 7.97983 24.0003 7.83425C23.9929 7.74592 23.9743 7.66087 23.946 7.58059C23.9107 7.48005 23.8592 7.38415 23.7915 7.29716C23.769 7.26816 23.7446 7.24015 23.7185 7.21329L23.7151 7.20988L16.9812 0.293178C16.6006 -0.0977263 15.9836 -0.0977256 15.603 0.293178C15.2225 0.684082 15.2224 1.31786 15.603 1.70877L20.6767 6.92012H0.978429C0.440216 6.92012 0.00390577 7.36827 0.00390577 7.92109C0.00390768 8.47391 0.440214 8.92206 0.978427 8.92206L20.6767 8.92206L15.4494 14.2912C15.0688 14.6821 15.0688 15.3159 15.4494 15.7068Z" fill="currentColor"/>
                </svg>

            </a>
        </li>
    </ul>
</nav>
