<div class="login">
    <form action="">
        <div class="login__field">
            <label for="username" class="login__label">Username</label>
            <input type="text" name="username" class="login__input" />
        </div>
        <div class="login__field">
            <label for="password" class="login__label">Password</label>
            <input type="password" name="password" class="login__input" />
        </div>
        <div class="login__actions">
            <div class="login__submit">
                <button class="button" type="submit">Login</button>
            </div>
            <label class="login__rememberMe" for="remember_me">
                <input type="hidden" name="remember_me" value="no" />
                <input type="checkbox" name="remember_me" value="yes" id="remember_me" />
                Remember me
            </label>
            <a class="login__forgotPasswordLink" href="#">Forgot Your Password?</a>
        </div>
    </form>
</div>
