<section class="carousel -bleedRight">
    <div class="carousel__container container">
        <bp-carousel class="carousel__carousel" variant="bleedRight">
            <swiper-slide>
                <img src="https://placeimg.com/960/480/any" alt="">
            </swiper-slide>
            <swiper-slide>
                <img src="https://placeimg.com/960/480/any" alt="">
            </swiper-slide>
            <swiper-slide>
                <img src="https://placeimg.com/960/480/any" alt="">
            </swiper-slide>
            <swiper-slide>
                <img src="https://placeimg.com/960/480/any" alt="">
            </swiper-slide>

            <template #button-prev>
                <div class="swiper-button-prev"></div>
            </template>
            <template #button-next>
                <div class="swiper-button-next"></div>
            </template>
            <template #pagination>
                <div class="swiper-pagination" slot="pagination"></div>
            </template>
        </bp-carousel>
    </div>

</section>
