<div class="container">
    <div class="carousel">
        <div style="background: url({{ prefix("/media/hero.jpg") }}) no-repeat center top/cover;">
            <h2>Carousel Slide 1</h2>
            <p>
                Adipisicing neque excepturi pariatur maiores magnam beatae corporis harum esse id. Perspiciatis corrupti voluptate recusandae.
            </p>
            <p>
                Elit ea dignissimos quis in iste fuga ut.
            </p>
            <a class="button" href="">Learn More</a>
        </div>
        <div style="background: url({{ prefix("/media/hero.jpg") }}) no-repeat center top/cover;">
            <h2>Carousel Slide 2</h2>
            <p>
                Elit aliquid et saepe eaque blanditiis. Corporis quisquam laborum similique ipsam aut. Nihil soluta dolorem.
            </p>
            <p>
                Adipisicing voluptas sequi sequi quis nostrum? Ipsum adipisci.
            </p>
            <a class="button" href="">Learn Less</a>
        </div>
        <div style="background: url({{ prefix("/media/hero.jpg") }}) no-repeat center top/cover;">
            <h2>Carousel Slide 3</h2>
            <p>
                Ipsum error cum veniam est unde. Illum nihil deserunt velit culpa animi quia fuga ad.
            </p>
            <p>
                Adipisicing voluptatem voluptate consequuntur porro debitis temporibus fugiat.
            </p>
            <a class="button" href="">Learn Sass</a>
        </div>
    </div>
</div>
