<div class="{{ class }} banner">
    <div class="banner__container">
        <div class="banner__message">
            Sit quisquam error ipsum atque odit ex At eum eius autem perspiciatis sit! Sint ab!
        </div>
        <button class="banner__dismiss">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="31.2325" height="2.60271" rx="1.30135" transform="matrix(0.706026 0.708186 -0.706026 0.708186 1.94904 0)" fill="currentColor"/>
                <rect x="10.3949" y="11.0784" width="2.59873" height="2.60668" rx="1.29937" fill="white"/>
                <rect width="31.2325" height="2.60271" rx="1.30135" transform="matrix(0.706026 -0.708186 0.706026 0.708186 0 22.1568)" fill="currentColor"/>
            </svg>

        </button>
    </div>
</div>
