<div class="banner">
    <div class="banner__container container">
        <div class="banner__messsage">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eius nostrum blanditiis modi cupiditate repudiandae, delectus sequi sunt, officia quia fuga ut nobis.
        </div>
        <button class="banner__dismiss" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" class="banner__dismissIcon" viewBox="0 0 24 24">
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
            </svg>
        </button>
    </div>
</div>
