.banner {
    background-color: $info;
    color: blackwhite($info);
    padding: $v-space 0;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__dismiss {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        fill: none;
        flex-shrink: 0;
        height: 1.5rem;
        padding: 0;
        stroke: currentColor;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 1.5;
        width: 1.5rem;
    }

}
