@use "/resources/styles/common" as *;
@use "/resources/styles/config";

.utilityNav {
    &__list {
        @include no-bullets;
        display: flex;
    }

    &__item {

        &:last-child {
            .utilityNav__link {
                padding-right: 0;
            }
        }

        & + & {
            .utilityNav__link {
                border-left: 1px solid config.$border;
            }
        }
    }

    .utilityNav__link {
        padding: 0 config.$thin-h-space;
    }
}
