///
/// = Base =
///

@use "/resources/styles/variables";

@import "/node_modules/normalize.css/normalize.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #FFF;
}

body {
    color: variables.$plain-text;
    font-family: variables.$font-family;
    font-size: variables.$font-size;
    line-height: variables.$line-height;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;

    &[data-sizes="auto"] {
        display: block;
        width: 100%;
    }
}

::selection {
    background: variables.$border;
}
