///
/// = Base =
///

@use "/resources/styles/abstracts" as *;
@import "/node_modules/normalize.css/normalize.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #FFF;
}

body {
    color: $plain-text;
    font-family: $body-font-stack;
    font-size: $body-font-size;
    line-height: $body-line-height;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;

    &[data-sizes="auto"] {
        display: block;
        width: 100%;
    }
}

::selection {
    background: $border;
}
