<div class="tag {{ class }}">
    <svg class="tag__icon" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.00201416 5.91903V1.13501C0.00201416 0.513682 0.505686 0.0100098 1.12701 0.0100098H5.91103C6.2094 0.0100113 6.49555 0.128539 6.70652 0.339518L11.6725 5.3055C12.1118 5.74484 12.1118 6.45715 11.6725 6.89649L6.88849 11.6805C6.44916 12.1198 5.73685 12.1198 5.29751 11.6805L0.331522 6.71452C0.120543 6.50354 0.00201572 6.2174 0.00201416 5.91903H0.00201416ZM2.62702 1.51001C2.00569 1.51001 1.50201 2.01368 1.50201 2.63501C1.50201 3.25634 2.00569 3.76001 2.62702 3.76001C3.24834 3.76001 3.75202 3.25634 3.75202 2.63501C3.75202 2.01368 3.24834 1.51001 2.62702 1.51001Z" fill="currentColor"/>
    </svg>
    Simple Tag
</div>
