<div class="{{ class }} search">
    <form action="">
        {% render "@filters" %}

        <div class="search__field">
            <input class="search__input" type="search" placeholder="Search...">
            <svg class="search__icon" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.5 12.752L19.5 19.752" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                <circle cx="7.5" cy="7.75201" r="6.5" stroke="currentColor" stroke-width="2"/>
            </svg>

            <button class="search__button button -primary" type="submit">Search</button>
        </div>

        <div class="search__meta">
            1-10 of 42 results.
        </div>
    </form>
</div>
