///
/// Simple breadcrumbs for your breadcrumbing needs.
///
/// $color
///     crumb color
/// $hover-color
///     crumb hover color
///
@mixin breadcrumbs(
    $color: $meta-text,
    $hover-color: $link-hover,
) {
    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    &__item {
        margin-bottom: 0;
    }

    &__link {
        color: $color;
        display: block;
        padding: .618em .809em;

        &:hover {
            color: $hover-color;
        }
    }
}

.breadcrumbs {
    @include breadcrumbs;
}
