///
/// BREADCRUMBS provides basic breadcrumb styling, complete with
/// fontawesome icons for separators. Many styles for BREADCRUMBS
/// are cascading from our base styles.scss file.
///

@mixin breadcrumbs($color) {
    &__list {
        display: inline-flex;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    &__item {
        margin-bottom: 0;

        &.-active {
            font-weight: 700;
        }
    }

    &__link {
        color: $color;
        display: block;
        padding: .618rem .618rem .618rem 0;

        &::after {
            content: "∕";
            padding-left: .618rem;
        }

        .-active &::after {
            content: unset;
        }
    }
}
