///
/// BREADCRUMBS provides basic breadcrumb styling, complete with
/// fontawesome icons for separators. Many styles for BREADCRUMBS
/// are cascading from our base styles.scss file.
///
/// @active-color
///     active link color; usually plain text.
/// @icon and @icon-weight
///     used for controlling the fontawesome icon used as a separator.
///

@mixin breadcrumbs($active-color: $plain-text, $icon: "\f105", $icon-weight: 900) {
    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    &__link {
        display: block;
        padding: 0 0.5rem;
    }

    &__item:not(:last-child) &__link {
        padding-right: 0;

        &::after {
            @include fontawesome($icon-weight, $icon);
            padding-left: 0.5rem;
        }
    }

    &__item.-active &__link {
        color: $active-color;
    }
}

@if $use-boilerplate-classes {
    .breadcrumbs {
        @include breadcrumbs;
    }
}
