<nav class="breadcrumbs">
    <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="">Item 1</a></li>
        <li class="breadcrumbs__item -active"><a class="breadcrumbs__link" href="">Item 2</a></li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="">Item 3</a></li>
    </ul>
</nav>
