///
/// GRID allows for the creation of a column-based grid
/// that can wrap or nowrap. It is lighter than FEATURES or TILES
/// in that it contains no default styling on its contents.
///
/// @param {number}   $columns [3] - number of columns
/// @param {measure}  $gutter [1rem] - gutter between grid items
/// @param {measure}  $vertical-gutter [null] - vertical gutter between grid items
/// @param {string}   $element [&__item] - classname for grid items
///

@mixin grid($columns: 3, $gutter: 2rem, $vertical-gutter: null, $element: null) {
    @if $vertical-gutter == null {
        $vertical-gutter: $gutter;
    }

    @if $element == null {
        $element: #{&}__item;
    }

    display: flex;
    flex-wrap: wrap;

    #{$element} {
        width: span(1, $columns, $gutter);
        margin-bottom: $vertical-gutter;

        &:nth-child(n) {
            margin-left: 0;
        }

        &:not(:nth-child(#{$columns}n + 1)) {
            margin-left: $gutter;
        }
    }
}
