@use "/resources/styles/abstracts" as *;

@use "/packages/boilerplate-grid/lib/grid" with (
    $-breakpoints: $breakpoints,
    $-columns: $columns,
    $-row-gap: $row-gap,
);

.grid {
    @include grid.grid;
}
