@use "/resources/styles/common" as *;
@use "/resources/styles/variables";

@use "/packages/boilerplate-grid/lib/grid" with (
    $-breakpoints: variables.$breakpoints,
    $-columns: variables.$columns,
    $-row-gap: variables.$row-gap,
);

.grid {
    @include grid.grid;
}
