Here's
<a class="link" href="#">
    another link
    <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.5841 11.7801C11.8695 12.0733 12.3323 12.0733 12.6177 11.7801L17.7859 6.47166C17.8634 6.39205 17.9199 6.299 17.9553 6.19982C17.9925 6.09573 18.0065 5.98487 17.9973 5.87569C17.9917 5.80944 17.9778 5.74565 17.9566 5.68544C17.9301 5.61004 17.8915 5.53811 17.8407 5.47287C17.8238 5.45112 17.8055 5.43011 17.7859 5.40997L17.7834 5.40741L12.733 0.219883C12.4475 -0.0732947 11.9848 -0.0732942 11.6993 0.219883C11.4139 0.513061 11.4139 0.988397 11.6993 1.28157L15.5046 5.19009H0.730891C0.327232 5.19009 -8.34465e-07 5.5262 -8.34465e-07 5.94082C-8.34465e-07 6.35543 0.32723 6.69155 0.730889 6.69155L15.5046 6.69155L11.5841 10.7184C11.2987 11.0116 11.2987 11.4869 11.5841 11.7801Z" fill="currentColor"/>
    </svg>
</a>
with an icon before, and
<a class="link" href="#">
    <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.4159 0.219884C6.13047 -0.0732943 5.66769 -0.0732944 5.38226 0.219884L0.214074 5.52834C0.136565 5.60795 0.0801047 5.701 0.0446908 5.80018C0.00752214 5.90427 -0.00646207 6.01513 0.00273921 6.12431C0.00828171 6.19056 0.0222006 6.25435 0.0434024 6.31456C0.0698971 6.38996 0.108521 6.46189 0.159276 6.52713C0.176194 6.54888 0.19446 6.56989 0.214073 6.59003L0.216578 6.59259L5.26702 11.7801C5.55246 12.0733 6.01523 12.0733 6.30066 11.7801C6.58609 11.4869 6.58609 11.0116 6.30066 10.7184L2.49543 6.80991L17.2691 6.80991C17.6728 6.80991 18 6.4738 18 6.05918C18 5.64457 17.6728 5.30846 17.2691 5.30846L2.49542 5.30845L6.4159 1.28158C6.70133 0.988398 6.70133 0.513062 6.4159 0.219884Z" fill="currentColor"/>
    </svg>
    one link
</a>
with the icon before.


<a class="link" href="#">
    Read More
    <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.5841 11.7801C11.8695 12.0733 12.3323 12.0733 12.6177 11.7801L17.7859 6.47166C17.8634 6.39205 17.9199 6.299 17.9553 6.19982C17.9925 6.09573 18.0065 5.98487 17.9973 5.87569C17.9917 5.80944 17.9778 5.74565 17.9566 5.68544C17.9301 5.61004 17.8915 5.53811 17.8407 5.47287C17.8238 5.45112 17.8055 5.43011 17.7859 5.40997L17.7834 5.40741L12.733 0.219883C12.4475 -0.0732947 11.9848 -0.0732942 11.6993 0.219883C11.4139 0.513061 11.4139 0.988397 11.6993 1.28157L15.5046 5.19009H0.730891C0.327232 5.19009 -8.34465e-07 5.5262 -8.34465e-07 5.94082C-8.34465e-07 6.35543 0.32723 6.69155 0.730889 6.69155L15.5046 6.69155L11.5841 10.7184C11.2987 11.0116 11.2987 11.4869 11.5841 11.7801Z" fill="currentColor"/>
    </svg>
</a>
