<div class="messaging -error">
    <p>
        <strong>Error</strong> – Message with a <a href="https://www.imarc.com/">link</a>.
    </p>
    <ul>
        <li>Error one</li>
        <li>Error two</li>
    </ul>
</div>
