<div class="messaging">
    <div class="messaging__icon">
        <svg width="2" height="20" viewBox="0 0 2 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1 0C0.447715 0 0 0.447716 0 1V13C0 13.5523 0.447715 14 1 14C1.55228 14 2 13.5523 2 13V1C2 0.447715 1.55228 0 1 0ZM1 17C0.447715 17 0 17.4477 0 18V19C0 19.5523 0.447715 20 1 20C1.55228 20 2 19.5523 2 19V18C2 17.4477 1.55228 17 1 17Z" fill="currentColor"/>
        </svg>
    </div>

    <div class="messaging__content">
        <p><strong>Default</strong> – Message with a <a href="https://www.imarc.com/">link</a>.</p>

        <a href="#" class="button -primary">Click Me</a>
    </div>
</div>

<div class="messaging -success">
    <div class="messaging__icon">
        <svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9706 0.292894C15.5801 -0.0976307 14.9469 -0.0976307 14.5564 0.292894L5.31374 9.53555L1.70712 5.92893C1.3166 5.53841 0.683433 5.53841 0.292908 5.92893C-0.0976158 6.31946 -0.0976158 6.95262 0.292908 7.34315L4.53555 11.5858C4.70307 11.7533 4.91525 11.849 5.13376 11.8728C5.45978 11.9496 5.81687 11.8608 6.07112 11.6066L15.9706 1.70711C16.3611 1.31658 16.3611 0.683418 15.9706 0.292894Z" fill="#EBFFEE"/>
        </svg>
    </div>

    <div class="messaging__content">
        <p>
            <strong>Success</strong> – Message with a <a href="https://www.imarc.com/">link</a>.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis pariatur odio qui odit in natus voluptatum, dolore minus officia quae dolorem blanditiis? Accusantium aperiam nesciunt repudiandae? Dolorum soluta iure dolor.
        </p>

        <a href="#" class="button -primary">Click Me</a>
    </div>
</div>

<div class="messaging -error">
    <div class="messaging__icon">
        <svg width="2" height="20" viewBox="0 0 2 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1 0C0.447715 0 0 0.447716 0 1V13C0 13.5523 0.447715 14 1 14C1.55228 14 2 13.5523 2 13V1C2 0.447715 1.55228 0 1 0ZM1 17C0.447715 17 0 17.4477 0 18V19C0 19.5523 0.447715 20 1 20C1.55228 20 2 19.5523 2 19V18C2 17.4477 1.55228 17 1 17Z" fill="currentColor"/>
        </svg>
    </div>
    <div class="messaging__content">
        <p><strong>Error</strong> – Message with a <a href="https://www.imarc.com/">link</a>.</p>
        <ul>
            <li>Error one</li>
            <li>Error two</li>
        </ul>

        <a href="#" class="button -primary">Click Me</a>
    </div>
</div>

<div class="messaging -info">
    <div class="messaging__icon">
        <svg width="2" height="20" viewBox="0 0 2 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1 0C0.447715 0 0 0.447716 0 1V13C0 13.5523 0.447715 14 1 14C1.55228 14 2 13.5523 2 13V1C2 0.447715 1.55228 0 1 0ZM1 17C0.447715 17 0 17.4477 0 18V19C0 19.5523 0.447715 20 1 20C1.55228 20 2 19.5523 2 19V18C2 17.4477 1.55228 17 1 17Z" fill="currentColor"/>
        </svg>
    </div>
    <div class="messaging__content">
        <p><strong>Info</strong> – Message with a <a href="https://www.imarc.com/">link</a>.</p>

        <a href="#" class="button -primary">Click Me</a>
    </div>
</div>

<div class="messaging -warning">
    <div class="messaging__icon">
        <svg width="2" height="20" viewBox="0 0 2 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1 0C0.447715 0 0 0.447716 0 1V13C0 13.5523 0.447715 14 1 14C1.55228 14 2 13.5523 2 13V1C2 0.447715 1.55228 0 1 0ZM1 17C0.447715 17 0 17.4477 0 18V19C0 19.5523 0.447715 20 1 20C1.55228 20 2 19.5523 2 19V18C2 17.4477 1.55228 17 1 17Z" fill="currentColor"/>
        </svg>
    </div>
    <div class="messaging__content">
        <p><strong>Warning</strong> – Message with a <a href="https://www.imarc.com/">link</a>.</p>

        <a href="#" class="button -primary">Click Me</a>
    </div>
</div>
