@use "/resources/styles/config";
@use "/resources/styles/common" as *;

///
/// For messages to the user.
///
.messaging {
    $b: &;

    --messaging-height-icon: var(--height-icon, 1.5rem);
    background-color: config.$gray-100;
    box-shadow: .25rem 0 0 inset, config.$med-shadow;
    display: grid;
    gap: config.$h-space;
    grid: "icon content" #{config.$line-height * 1em} "_ content" / auto 1fr;
    margin-bottom: 2rem;
    padding: config.$padding;

    &__icon {
        align-self: center;
        grid-area: icon;
        height: var(--messaging-height-icon);
    }

    &__content {
        grid-area: content;
    }

    @each $modifier, $color in (
        success config.$success,
        warning config.$warning,
        error   config.$error,
        info    config.$info,
    ) {
        &.-#{$modifier} {
            box-shadow: .25rem 0 0 $color inset, config.$med-shadow;

            #{$b}__icon {
                color: $color;
            }
        }
    }

    &.-filled {
        box-shadow: config.$med-shadow;

        a:not([class]) {
            text-decoration: underline;
        }

        @include color-modifiers(success warning error info) using ($color) {
            background-color: $color;
            color: blackwhite($color, config.$plain-text);

            a {
                --color: #{blackwhite($color, config.$plain-text)};
                --background-color: #{blackwhite($color, config.$plain-text)};

                &:hover {
                    --background-color: #{config.$white};
                    --color: #{$color};
                }
            }

            a:not([class]) {
                &:hover {
                    --color: #{blackwhite($color, config.$plain-text)};
                }
            }

            #{$b}__icon {
                color: inherit;
            }
        }
    }
}