<div class="messaging -filled">
    <p>
        <strong>Default</strong> – Message with a <a href="https://www.imarc.com/">link</a>.
    </p>
</div>

<div class="messaging -filled -success">
    <p>
        <strong>Success</strong> – Message with a <a href="https://www.imarc.com/">link</a>.
    </p>
</div>

<div class="messaging -filled -error">
    <p>
        <strong>Error</strong> – Message with a <a href="https://www.imarc.com/">link</a>.
    </p>
    <ul>
        <li>Error one</li>
        <li>Error two</li>
    </ul>
</div>

<div class="messaging -filled -warning">
    <p>
        <strong>Warning</strong> – Message with a <a href="https://www.imarc.com/">link</a>.
    </p>
</div>
