<div class="dropdown">
    <div class="menu">
        <div>
            <ul>
                <li>
                    <a href="">Hello World</a>
                </li>
                <li>
                    <a href="">Lorem Ipsum Amat</a>
                </li>
                <li>
                    <a href="">HTML is on version 5</a>
                </li>
            </ul>
        </div>
    </div>
</div>
