<div class="{{ class }} card">
    <div class="card__container">
        <div class="card__hero">
            <svg width="100%" height="231px" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <pattern patternUnits="userSpaceOnUse" id="Pattern" width="192" height="192" fill="black">
                  <rect width="96" height="96" />
                  <rect x="96" y="96" width="96" height="96" />
                </pattern>
              </defs>
              <rect fill="url(#Pattern)" width="100%" height="100%" />
            </svg>
        </div>
        <div class="card__meta">Posted on Aug 12, 2023</div>
        <h3 class="card__heading">One Great Heading</h3>
        <div class="card__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos et voluptatum aliquam neque beatae. Elit vero est ipsa deleniti?</p>

            <div class="card__tags">
                {% render "@tag" %}
                {% render "@tag" %}
            </div>
        </div>
    </div>
</div>
