///
/// Simple card.
///
@mixin card() {
    background-color: $white;
    box-shadow: $med-shadow;
    display: grid;
    grid-gap: 1em;
    grid-template-areas: "icon" "headline" "content" "actions";
    justify-items: center;
    margin-bottom: 2rem;
    z-index: 1;

    &__icon,
    &__headline,
    &__content,
    &__actions {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__icon {
        grid-area: icon;
        padding-top: 2rem;
    }

    &__headline {
        grid-area: headline;
    }

    &__content {
        grid-area: content;
    }


    &__background {
        background: $gray-100 center/cover;
        grid-column: 1;
        grid-row: icon / headline;
        height: 100%;
        justify-self: stretch;
        z-index: -1;
    }

    &__actions {
        grid-area: actions;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(10rem, max-content));
        justify-content: center;
        justify-self: stretch;
        margin-top: auto;
        padding-bottom: 2rem;

        &.-attached {
            grid-gap: 0;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
