<h1>wide card</h1>

<div class="filters">
    <div class="container">
        <form action="">
            <input type="search">
            <button class="button -primary" type="submit">Filter</button>

            <label class="toggleButton -outline -secondary" tabindex="0" for="toggle1">
                <input name="example-1" class="toggleButton__input" type="radio" id="toggle1">
                <span class="toggleButton__label">
                    <div class="toggleButton__checkbox -radio">
                        <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                            <circle cx="12" cy="12" r="2" fill="currentColor" />
                        </svg>
                    </div>
                    Category
                </span>
            </label><label class="toggleButton -outline -secondary" tabindex="0" for="toggle2">
                <input name="example-1" class="toggleButton__input" type="radio" id="toggle2">
                <span class="toggleButton__label">
                    <div class="toggleButton__checkbox -radio">
                        <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                            <circle cx="12" cy="12" r="2" fill="currentColor" />
                        </svg>
                    </div>
                    Category
                </span>
            </label><label class="toggleButton -outline -secondary" tabindex="0" for="toggle3">
                <input name="example-1" class="toggleButton__input" type="radio" id="toggle3">
                <span class="toggleButton__label">
                    <div class="toggleButton__checkbox -radio">
                        <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                            <circle cx="12" cy="12" r="2" fill="currentColor" />
                        </svg>
                    </div>
                    Category
                </span>
            </label>

        </form>
    </div>
</div>

<div class="results">
    <div class="container">
        <div class="cards">
            <div class="cards__card card">
                <div class="card__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                </div>
                <h4 class="card__headline">Example Resource</h4>
                <p class="card__content">
                    Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                </p>
                <div class="card__actions -attached">
                    <a href="" class="card__action button -primary">Download</a>
                </div>
            </div>
            <div class="cards__card card">
                <div class="card__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                </div>
                <h4 class="card__headline">Example Webinar</h4>
                <p class="card__content">
                    Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                </p>
                <div class="card__actions -attached">
                    <a href="" class="card__action button">Learn More</a>
                    <a href="" class="card__action button -primary">Register</a>
                </div>
            </div>
            <div class="cards__card card">
                <div class="card__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                </div>
                <h4 class="card__headline">Example Resource</h4>
                <p class="card__content">
                    Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                </p>
                <div class="card__actions -attached">
                    <a href="" class="card__action button -primary">Download</a>
                </div>
            </div>
            <div class="cards__card card">
                <div class="card__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                </div>
                <h4 class="card__headline">Example Resource</h4>
                <p class="card__content">
                    Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                </p>
                <div class="card__actions -attached">
                    <a href="" class="card__action button -primary">Download</a>
                </div>
            </div>
            <div class="cards__card card">
                <div class="card__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                </div>
                <h4 class="card__headline">Example Resource</h4>
                <p class="card__content">
                    Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                </p>
                <div class="card__actions -attached">
                    <a href="" class="card__action button -primary">Download</a>
                </div>
            </div>
            <div class="cards__card card">
                <div class="card__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                </div>
                <h4 class="card__headline">Example Resource</h4>
                <p class="card__content">
                    Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                </p>
                <div class="card__actions -attached">
                    <a href="" class="card__action button -primary">Download</a>
                </div>
            </div>
            <div class="cards__card card">
                <div class="card__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                </div>
                <h4 class="card__headline">Example Resource</h4>
                <p class="card__content">
                    Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                </p>
                <div class="card__actions -attached">
                    <a href="" class="card__action button -primary">Download</a>
                </div>
            </div>
            <div class="cards__card card">
                <div class="card__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                </div>
                <h4 class="card__headline">Example Resource</h4>
                <p class="card__content">
                    Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                </p>
                <div class="card__actions -attached">
                    <a href="" class="card__action button -primary">Download</a>
                </div>
            </div>
            <div class="cards__card card">
                <div class="card__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                </div>
                <h4 class="card__headline">Example Resource</h4>
                <p class="card__content">
                    Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                </p>
                <div class="card__actions -attached">
                    <a href="" class="card__action button -primary">Download</a>
                </div>
            </div>
            <div class="cards__card card">
                <div class="card__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                </div>
                <h4 class="card__headline">Example Resource</h4>
                <p class="card__content">
                    Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                </p>
                <div class="card__actions -attached">
                    <a href="" class="card__action button -primary">Download</a>
                </div>
            </div>
        </div>

        {% render "@pagination" %}
    </div>
</div>
