@mixin team {
    $b: &;

    &__members {
        align-items: center;
        display: flex;
        flex-direction: column;

        @include breakpoint(lg) {
            flex-flow: row wrap;
            justify-content: flex-start;
        }
    }

    &__member {
        @extend .avatar, .-horizontal;

        @include breakpoint(lg) {
            @include wrap(1, 3, $gutter);
            flex-direction: column;
            height: auto;
            text-align: center;
        }
        @include breakpoint(xl) {
            @include wrap(1, 4, $gutter);
        }
    }
}
