<div class="team">
    <div class="container">
        <div class="team__members">
            {% render "@avatar" with { class: "team__member" } %}
            {% render "@avatar" with { class: "team__member" } %}
            {% render "@avatar" with { class: "team__member" } %}
            {% render "@avatar" with { class: "team__member" } %}
            {% render "@avatar" with { class: "team__member" } %}
            {% render "@avatar" with { class: "team__member" } %}
            {% render "@avatar" with { class: "team__member" } %}
        </div>
    </div>
</div>
