$white: #ffffff !default;
$gray-100: #dfdfdf !default;
$gray-200: #cacaca !default;
$gray-300: #b3b3b2 !default;
$gray-400: #8f8e8e !default;
$gray-500: #6f6f6f !default;
$gray-600: #545453 !default;
$gray-700: #393938 !default;
$gray-800: #2d2d2c !default;
$gray-900: #1a1a19 !default;
$black: #000000 !default;

$red-100: #fad8d4 !default;
$red-200: #fcbab2 !default;
$red-300: #fe978b !default;
$red-400: #eb6257 !default;
$red-500: #b1534a !default;
$red-600: #80423b !default;
$red-700: #532f2b !default;
$red-800: #402622 !default;
$red-900: #251614 !default;

$green-100: #5dff2a !default;
$green-200: #54e724 !default;
$green-300: #55cb30 !default;
$green-400: #519f37 !default;
$green-500: #477c34 !default;
$green-600: #3a5c2e !default;
$green-700: #2b3f23 !default;
$green-800: #22301d !default;
$green-900: #151b11 !default;

$blue-100: #dadfeb !default;
$blue-200: #c2cae1 !default;
$blue-300: #a5b2d8 !default;
$blue-400: #788bd2 !default;
$blue-500: #4e64dd !default;
$blue-600: #3948b3 !default;
$blue-700: #2a356a !default;
$blue-800: #222a4e !default;
$blue-900: #15192a !default;

$yellow-100: #ebe28c !default;
$yellow-200: #decc47 !default;
$yellow-300: #c3b546 !default;
$yellow-400: #9a8f41 !default;
$yellow-500: #78713a !default;
$yellow-600: #595430 !default;
$yellow-700: #3c3924 !default;
$yellow-800: #2f2d1d !default;
$yellow-900: #1b1a12 !default;

$aqua-100: #50fac4 !default;
$aqua-200: #54e2b3 !default;
$aqua-300: #55c69f !default;
$aqua-400: #509d80 !default;
$aqua-500: #467965 !default;
$aqua-600: #3a5b4d !default;
$aqua-700: #2b3d35 !default;
$aqua-800: #232f2a !default;
$aqua-900: #151b18 !default;
