@use "variables";


@mixin modifiers($map, $default-map, $prefix: '.-') {
    @each $pair in $map {
        $label: nth($pair, 1);
        $value: map-get($default-map, $label);
        @if length($pair) > 1 {
            $value: nth($pair, 2);
        }

        &#{$prefix}#{$label} {
            @content($value);
        }
    }
}

@mixin color-modifiers($colors: variables.$color-modifiers, $prefix: '.-') {
    @if content-exists() {
        @include modifiers($colors, variables.$color-modifiers, $prefix) using ($color) {
            @content($color);
        }
    } @else {
        @include modifiers($colors, variables.$color-modifiers, $prefix) using ($color) {
            color: $color;
        }
    }
}


///
/// no-bullets mixin
///

@mixin no-bullets {
    list-style: none;
    margin: 0;
    padding-left: 0;

    li::before {
        display: none;
    }
}


///
/// transition mixin
///

@mixin transition($properties: all, $duration: $fast, $easing: $ease-out-quint) {
    transition: $properties $duration $easing;
}


///
/// media query mixin
///

@mixin breakpoint($bp, $rule: min-width) {
    @media screen and (#{$rule}: map-get(variables.$breakpoints, $bp)) {
        @content;
    }
}

///
/// Alias for breakpoint().
///
@mixin at($bp, $rule: min-width) {
    @include breakpoint($bp, $rule) {
        @content;
    }
}

///
/// Quick way to define a bunch of media queries. Example usage:
///
///     @include each-breakpoint(10px, md 20px, lg 30px) using ($margin) {
///         margin-top: $margin;
///     }
///
@mixin each-breakpoint($map...) {
    @each $bp, $arg in $map {
        @if $arg {
            @include breakpoint($bp) {
                @content($arg);
            }
        } @else {
            @content($bp);
        }
    }
}

///
/// Alias for each-breakpoint().
///
@mixin at-each($map...) {
    @include each-breakpoint($map...) using ($v) {
        @content($v);
    }
}
