@use "variables" as *;

.expand-enter,
.expand-leave-to {
    height: 0 !important;
}
.expand-enter-active {
    transition: height $moderate $entrance-easing;
    overflow: hidden;
}
.expand-leave-active {
    transition: height $moderate $entrance-easing;
    overflow: hidden;
}

// Scroll Lock
body.-lock,
html.-lock {
    position: relative;
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
}
