@use 'sass:math';

///
/// visuallyhidden mixin
///
@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.sr-only {
    @include visuallyhidden;
}

///
/// returns a properly scaled font size based on a given max size, assuming a
/// minimum size of 1rem.
///
@function type-scale($max, $ratio, $accuracy: 1000) {
    $m: math.div($max, $max * 0 + 1);
    $u: math.div($max, $m);
    @return math.div($u * math.round(math.pow($m, $ratio) * $accuracy), $accuracy);
}
