///
/// = Variables =
///

$container: 1200px !default;
$gutter: 30px !default;
$grid-columns: 12 !default;

///
/// This is the default font stack.
///

$font-stack: Arial, sans-serif !default;


///
/// Color Scales
///
@use 'colors' as *;
@forward 'colors';

$primary: $aqua-200;
$secondary: $blue-500;
$danger: $red-400;
$confirm: $green-300;

///
/// Messaging colors
///

$success: $green-300 !default;
$warning: $yellow-200 !default;
$error: $red-500 !default;
$info: $blue-400 !default;
$disabled: $gray-200 !default;

$color-modifiers: (
    primary: $primary,
    secondary: $secondary,
    danger: $danger,
    confirm: $confirm,

    success: $success,
    warning: $warning,
    error: $error,

    info: $info,
    disabled: $disabled,
) !default;


///
/// Applied colors
///

$plain-text: $gray-900 !default;
$meta-text: $gray-500 !default;
$link: $primary !default;
$link-hover: $secondary !default;
$border: $gray-200 !default;


///
/// Social Network Colors
///

$facebook: #3664A2 !default;
$twitter: #55ACEE !default;
$linkedin: #0077B5 !default;
$youtube: #CD201F !default;


///
/// Media Query Breakpoints
///

$breakpoints: (
  md: 576px,
  lg: 1024px,
  xl: 1200px
) !default;


///
/// Easings and Timings
///
$ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
$ease-in-quint: cubic-bezier(0.64, 0, 0.78, 0);
$ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);

$fade-easing: $ease-out-quint;
$entrance-easing: $ease-out-quint;
$exit-easing: $ease-in-quint;

///
/// Fast is for micro-animations such as fades.
///
$fast: 150ms;

///
/// Moderate is for mid-sized animations, such as mega menus and notifications.
///
$moderate: 240ms;

///
/// Slow is for animations meant for large animations such as page transitions
/// and background fades.
///
$slow: 400ms;


///
/// If this is turned off, component mixins are included but not their CSS classnames.
///
$use-boilerplate-classes: true !default;
