$gray-100: #fbfbfb;
$gray-400: #979197;
$gray-500: #554d56;

:root {
    --background: #{$gray-100};
    --text: #{$gray-500};
    --deemphasized: #{$gray-400};
    --selected-bg: #{rgba($gray-400, .2)};
}

html {
    color: var(--text);
    font: 15px/1.5 "Roboto", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: inherit;
}

b, strong {
    font-weight: 600;
}

.Frame {
    &-panel {
        &--sidebar {
            background-color: var(--background);

            [dir=ltr] & {
                border-right: 0;
            }
        }
    }

}

.Frame,
.Pen,
.Preview {
    &-handle {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover::before {
            content: '⋮';
        }

    }
}

.Header {
    background-color: var(--background);
    color: inherit;
    box-shadow: rgba(193 190 193 / 0.4) 0 1px 0 0;
    padding: 2px 0;

    &-button {
        color: var(--deemphasized);
        margin-right: -3rem;
    }

    &-title {
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }
}

.Tree {
    &-title {
        font-size: inherit;
        text-transform: capitalize;
        color: inherit;
        font-weight: 500;
        letter-spacing: unset;
    }

    &-item {
        font-size: inherit;

        &.is-current {
            background-color: var(--selected-bg);

            .Tree-entityLink {
                background-color: unset;
            }
        }
    }

    &-entityLink {
        color: inherit;
        padding-top: .2rem;
        padding-bottom: .2rem;
    }

    &-collectionLabel {
        font-size: inherit;
    }

    &-collectionItems {
        margin-bottom: .3rem;
    }

    [dir=ltr] & &-entityLink,
    [dir=ltr] & &-collectionLabel {
        padding-left: 3rem;

        &::before {
            left: 2rem;
        }
    }
    [dir=ltr] & &-collectionItems &-entityLink,
    [dir=ltr] & &-collectionItems &-collectionLabel {
        padding-left: 4rem;

        &::before {
            left: 3rem;
        }
    }
    [dir=ltr] & &-collectionItems &-collectionItems &-entityLink,
    [dir=ltr] & &-collectionItems &-collectionItems &-collectionLabel {
        padding-left: 5rem;

        &::before {
            left: 4rem;
        }
    }
    [dir=ltr] & &-collectionItems &-collectionItems &-collectionItems &-entityLink,
    [dir=ltr] & &-collectionItems &-collectionItems &-collectionItems &-collectionLabel {
        padding-left: 6rem;

        &::before {
            left: 5rem;
        }
    }
}

.Document {
    &-title {
        font-weight: 500;
    }
}

.Preview {
    border: 0;

    [dir=ltr] &-handle {
        border-left: 0;
    }
}

.Pen {
    &-title {
        color: var(--deemphasized);
        font-size: 16px;
        font-weight: 500;
    }

    &-previewLink {
        &:active,
        &:hover,
        &:link,
        &:visited {
            color: inherit;
        }
    }

    &-handle:hover::before {
        content: '⋯';
    }

    &-info {
        border: 0;
        margin: 0;
    }
}

.Status-label {
    border-radius: .2rem;
}


.Browser-panel {
    background: var(--background);
}


#tree-docs .Tree-title,
#tree-components .Tree-title {
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 2rem;
    margin-left: -1rem;
    background-position: .2rem 50%;
}

$svgColor: "%23"+str-slice(""+$gray-400, 2);

#tree-docs .Tree-title {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-notebook' width='24' height='24' viewBox='0 0 24 24' stroke-width='1' stroke='#{$svgColor}' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18' /%3E%3Cline x1='13' y1='8' x2='15' y2='8' /%3E%3Cline x1='13' y1='12' x2='15' y2='12' /%3E%3C/svg%3E");
}

#tree-components .Tree-title {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-box' width='24' height='24' viewBox='0 0 24 24' stroke-width='1' stroke='#{$svgColor}' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpolyline points='12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3' /%3E%3Cline x1='12' y1='12' x2='20' y2='7.5' /%3E%3Cline x1='12' y1='12' x2='12' y2='21' /%3E%3Cline x1='12' y1='12' x2='4' y2='7.5' /%3E%3C/svg%3E");
}
