<section class="{{ class }} layer -callToAction">
    <div class="layer__container container">
        <header class="layer__header">
            <div class="heading__eyebrow eyebrow -primary">interesting eyebrow</div>
            <h2 class="layer__heading">What are you waiting for?</h2>
        </header>
        <div class="layer__content">
            <p>Consectetur alias placeat doloremque placeat asperiores Reprehenderit corporis atque amet sunt ullam assumenda delectus.</p>
        </div>
        <div class="layer__actions">
            <a class="layer__action button -outline" href="#">Sign Up Now</a>
        </div>
    </div>
</section>
