.layer {

    &.-callToAction {
        background-color: $primary;
        color: $white;
        text-align: center;

        .layer__cta {
            @include button($white, $primary);
            font-weight: bold;
        }
    }
}
