.layer {

    &.-twoColumn {

        .layer__content {
            display: flex;
            flex-direction: column;
        }

        @include at(lg) {
            .layer__content {
                flex-direction: row;
            }
            .layer__item {
                @include wrap(1, 2);
            }
        }
    }
}
