.layer {
    align-items: center;
    display: grid;
    grid-template-areas: "stack";

    &__container {
        padding-top: 4rem;
        padding-bottom: 4rem;
        width: 100%;

        &.-pull-left {
            @include at-each(md 33.33%, lg $container/3) using ($padding) {
                padding-right: $padding;
            }
        }
    }

    &__background,
    &__container {
        grid-area: stack;
    }

    &__background {
        align-self: stretch;
        position: relative;
    }

    &__backgroundImg {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &__header {
        margin-bottom: 2rem;
    }

    &__heading,
    &__subheading {
        margin-bottom: 0;
    }

    &__introduction {

        &.-emphasized {
            font-size: 1.125rem;
        }
    }


    &.-dark {
        color: $white;

        .layer__background::before {
            background: linear-gradient(to right, $blue-900 calc(50% - min(#{$container / 2}, 50vw)), transparent);
            bottom: 0;
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    @include color-modifiers((
        primary,
        secondary,
        lightGray $gray-100,
    )) using ($color) {
        background-color: $color;
        color: blackwhite($color);
    }
}
