@use "sass:color";
@use "sass:math";

@function _relative-lum($n) {
  @if $n < 0.03928 {
    @return divide($n, 12.92);
  } @else {
    @return math.pow(divide($n+0.055, 1.055), 2.4);
  }
}

@function _relative-luminance($c) {
  $r: _relative-lum(divide(color.red($c), 255));
  $g: _relative-lum(divide(color.green($c), 255));
  $b: _relative-lum(divide(color.blue($c), 255));

  @return $r*0.2126+$g*0.7152+$b*0.0722;
}

@function contrast($c, $on-black: false) {
  @if $on-black {
    @return divide(_relative-luminance($c) + 0.05, 0.05);
  } @else {
    @return divide(1.05, _relative-luminance($c) + 0.05);
  }
}

@function blackwhite($c, $black: $black, $white: $white) {
    @if contrast($c) < contrast($c, true) {
        @return $black;
    } @else {
        @return $white;
    }
}
