<button class="button">Plain</button>
<button class="button -primary">Primary</button>
<button class="button -secondary">Secondary</button>
<button class="button -danger">Danger</button>
<button class="button -confirm">Confirm</button>
<button disabled class="button -disabled">Disabled</button>

<br>

<a href="#" class="button">Plain</a>
<a href="#" class="button -primary">Primary</a>
<a href="#" class="button -secondary">Secondary</a>
<a href="#" class="button -danger">Danger</a>
<a href="#" class="button -confirm">Confirm</a>
<a href="#" disabled class="button -disabled">Disabled</a>
