<a href="#" class="button">Plain</a>
<a href="#" class="button -primary">Primary</a>
<a href="#" class="button -secondary">Secondary</a>
<a href="#" class="button -danger">Danger</a>
<a href="#" class="button -confirm">Confirm</a>
<a href="#" disabled class="button -disabled">Disabled</a>