<button class="button">Button Element</button>
<input class="button" type="button" value="Button Input">
<input class="button" type="submit" value="Submit Input">
<input class="button" type="reset" value="Reset Input">
<br><br>
<button class="button -primary">Primary</button>
<button class="button -secondary">Secondary</button>
<button class="button -error">Error</button>
<button class="button -info">Info</button>
<button class="button -success">Success</button>
