@use "sass:list";

@use "/resources/styles/common" as *;
@use "/resources/styles/variables";

//
// Button component
//
// custom properties
//
//   --background-color        background color
//   --background-color-hover  background color on hover
//   --color                   text color

.button {
    --button-background-color: var(--background-color, #{variables.$gray-400});
    //--button-background-color-hover: var(--background-color-hover, #{variables.$gray-300});
    --button-color: var(--color, #{variables.$white});

    background-color: var(--button-background-color);
    border: none;
    color: var(--button-color);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: variables.$padding;
    transition: box-shadow var(--duration-fast) variables.$fade-easing,
        background-color var(--duration-fast) variables.$fade-easing,
        color var(--duration-fast) variables.$fade-easing;

    &:hover,
    &:focus {
        //background-color: var(--button-background-color-hover);
        color: var(--button-color);
    }

    @include color-modifiers(primary primary secondary danger confirm);

    &.-disabled,
    &[disabled] {
        --background-color: #{variables.$disabled};
        pointer-events: none;
    }


    &.-outline {
        box-shadow: 0 0 0 2px inset;
        color: var(--button-background-color);
        background-color: transparent;

        &:hover,
        &:focus {
            color: var(--button-color);
            box-shadow: 0 0 0 2px inset var(--button-background-color);
            background-color: var(--button-background-color);
        }
    }

    &.-ghost {
        --button-background-color-hover: var(--background-color-hover, #{rgba(variables.$gray-300, .1)});

        background-color: transparent;
        color: var(--button-background-color);

        @include color-modifiers(primary secondary danger confirm) using ($color) {
            --button-background-color-hover: var(--background-color-hover, #{rgba($color, .1)});
        }

        &:hover,
        &:focus {
            background: var(--button-background-color-hover);
            box-shadow: none;
        }
    }
}
