<button class="button">Button Element</button>
<input class="button" type="button" value="Button Input">
<input class="button" type="submit" value="Submit Input">
<input class="button" type="reset" value="Reset Input">
