@use "sass:list";
@use "/resources/styles/config";

//
// Button component
//
// custom properties
//
//   --background-color        background color
//   --background-color-hover  background color on hover
//   --color                   text color

.button {
    --button-background-color: var(--background-color, #{config.$gray-400});
    --button-background-color-fade: var(--background-color-fade, #{rgba(config.$gray-400, .1)});
    --button-color: var(--color, #{config.$white});
    background-color: var(--button-background-color);
    border: none;
    color: var(--button-color);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: config.$padding;
    transition: box-shadow var(--duration-fast) config.$fade-easing,
        background-color var(--duration-fast) config.$fade-easing,
        color var(--duration-fast) config.$fade-easing;

    &:hover,
    &:focus {
        --button-background-color: var(--background-color, #{config.$gray-300});
        color: var(--button-color);
    }

    @each $modifier, $color, $hover-color in (
        primary   config.$primary   config.$primary-hover,
        secondary config.$secondary config.$secondary-hover,
        danger    config.$danger    config.$danger-hover,
        confirm   config.$confirm   config.$confirm-hover,
    ) {
        &.-#{$modifier} {
            --button-background-color: var(--background-color, #{$color});
            --button-background-color-fade: #{rgba($color, .1)};

            &:hover {
                --button-background-color: var(--background-color, #{$hover-color});
            }
        }
    }

    &.-disabled,
    &[disabled] {
        --background-color: #{config.$disabled};
        pointer-events: none;
    }


    &.-outline {
        background-color: transparent;
        box-shadow: 0 0 0 2px inset;
        color: var(--button-background-color);

        &:hover,
        &:focus {
            background-color: var(--button-background-color);
            box-shadow: 0 0 0 2px inset var(--button-background-color);
            color: var(--button-color);
        }
    }

    &.-ghost {
        background-color: transparent;
        color: var(--button-background-color);

        &:hover,
        &:focus {
            background-color: var(--button-background-color-fade);
            box-shadow: none;
        }
    }
}
