<button class="button -disabled" disabled>Disabled Button</button>
<input class="button -disabled" disabled type="button" value="Button Input">
<input class="button -disabled" disabled type="submit" value="Submit Input">
<input class="button -disabled" disabled type="reset" value="Reset Input">
