<button class="button -ghost">
    Primary
    <svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.5841 11.7821C11.8695 12.0753 12.3323 12.0753 12.6177 11.7821L17.7859 6.47366C17.8634 6.39405 17.9199 6.301 17.9553 6.20182C17.9925 6.09773 18.0065 5.98687 17.9973 5.87768C17.9917 5.81144 17.9778 5.74765 17.9566 5.68744C17.9301 5.61203 17.8915 5.54011 17.8407 5.47487C17.8238 5.45312 17.8055 5.43211 17.7859 5.41197L17.7834 5.40941L12.733 0.221882C12.4475 -0.0712958 11.9848 -0.0712953 11.6993 0.221882C11.4139 0.51506 11.4139 0.990396 11.6993 1.28357L15.5046 5.19209H0.730891C0.327232 5.19209 -8.34465e-07 5.5282 -8.34465e-07 5.94282C-8.34465e-07 6.35743 0.32723 6.69354 0.730889 6.69354L15.5046 6.69355L11.5841 10.7204C11.2987 11.0136 11.2987 11.4889 11.5841 11.7821Z" fill="currentColor"/>
</svg>

</button>
<button class="button -ghost -secondary">Secondary</button>
<button class="button -ghost -danger">Danger</button>
<button class="button -ghost -confirm">Confirm</button>
<button disabled class="button -ghost -disabled">Disabled</button>
