///
/// The TESTIMONIAL mixin is a basic implementation of a testimonial design.
/// Add in an optional image wrapped in an element with a class of .asset.
///
/// $gutterWidth
///     Contributes to gutter width between image and text.
/// $background
///     Background color.
/// $text-color
///     Text color.
/// $attribution-text
///     Attribution text color.
///

@mixin testimonial (
    $gutterWidth: 4rem,
    $background: $charcoal,
    $text-color: #fff,
    $attribution-text: $meta-text
) {
    background-color: $background;
    margin-bottom: 4rem;
    padding: 4rem 0 4rem;
    text-align: center;

    &__asset {
        margin-bottom: 2rem;
    }
    &__image {
        max-width: 280px;
    }
    &__quote {
        border: none;
        color: $text-color;
        font-size: 1.125rem;
        margin-bottom: 1rem;
        padding: 0 2.5rem;
        position: relative;
        &::before,
        &::after {
            color: $meta-text;
            font-family: Georgia, serif;
            font-size: 3.375rem;
            position: absolute;
        }
        &::before {
            content: "“";
            left: 0;
            line-height: 1;
            top: 0;
        }
        &::after {
            content: "”";
            line-height: 0;
            right: 0;
            bottom: 0;
        }
    }
    &__attribution {
        color: $attribution-text;
        font-size: 0.875rem;
        margin-bottom: 0;
        padding: 0 2.5rem;
    }

    @include breakpoint(lg) {
        text-align: left;
        &__row {
            display: flex;
            justify-content: space-between;
        }
        &__asset {
            flex-basis: 33%;
            flex-shrink: 0;
            margin-bottom: 0;
            margin-right: $gutterWidth;
        }
        &__image {
            max-width: 100%;
        }
        &__quote {
            font-size: 1.5rem;
            padding: 0 6rem;
            &::before,
            &::after {
                font-size: 7rem;
            }
        }
        &__attribution {
            font-size: 1rem;
            padding: 0 6rem;
        }
    }
}

@if $use-boilerplate-classes {
    .testimonial {
        @include testimonial;
    }
}
