<nav class="progress">
    <ul>
        <li class="complete"><a href="">Nav Item 1</a></li>
        <li class="complete"><a href="">Nav Item 2</a></li>
        <li class="active"><a href="">Nav Item 3</a></li>
        <li><a href="">Nav Item 4</a></li>
        <li><a href="">Nav Item 5</a></li>
        <li><a href="">Nav Item 6</a></li>
    </ul>
</nav>
