$white: #ffffff !default;
$gray-50: #f2f2f2 !default;
$gray-100: #e5e5e5 !default;
$gray-200: #cccccc !default;
$gray-300: #b3b3b3 !default;
$gray-400: #999999 !default;
$gray-500: #808080 !default;
$gray-600: #666666 !default;
$gray-700: #4c4c4c !default;
$gray-800: #333333 !default;
$gray-900: #1a1a1a !default;
$gray-950: #0d0d0d !default;
$black: #000000 !default;


$red-50: #fff3f1 !default; // from design
$red-100: #fbe3de !default;
$red-200: #f8c8be !default;
$red-300: #f4a798 !default;
$red-400: #ed6f56 !default;
$red-500: #e53411 !default; // from design
$red-600: #aa260d !default;
$red-700: #791b09 !default;
$red-800: #621607 !default;
$red-900: #430f05 !default;

$green-50: #ebffee !default; // from design
$green-100: #cdf2d3 !default;
$green-200: #98e4a4 !default;
$green-300: #28c642 !default; // from design
$green-400: #23ab39 !default;
$green-500: #1b872d !default;
$green-600: #156722 !default;
$green-700: #0f4818 !default;
$green-800: #0c3a13 !default;
$green-900: #08270d !default;

$blue-50: #ebf8ff !default; // from design
$blue-100: #d0edfc !default;
$blue-200: #a0dbf9 !default;
$blue-300: #66c5f5 !default;
$blue-400: #1ba9f0 !default; // from design
$blue-500: #147cb1 !default;
$blue-600: #0f5f86 !default;
$blue-700: #0b435e !default;
$blue-800: #09364c !default;
$blue-900: #062434 !default;

$yellow-50: #fff8ea !default; // from design
$yellow-100: #fbe6ba !default;
$yellow-200: #f8cc76 !default;
$yellow-300: #f2a60f !default; // from design
$yellow-400: #c7880c !default;
$yellow-500: #9d6b0a !default;
$yellow-600: #775207 !default;
$yellow-700: #543905 !default;
$yellow-800: #442e04 !default;
$yellow-900: #2d1f03 !default;

$purple-50: #f2e5ff !default;
$purple-100: #e6ccff !default;
$purple-200: #cc99ff !default;
$purple-300: #b366ff !default;
$purple-400: #9933ff !default;
$purple-500: #8000ff !default;
$purple-600: #6600cc !default;
$purple-700: #4d0099 !default;
$purple-800: #330066 !default;
$purple-900: #1a0033 !default;
$purple-950: #0b001a !default;
