.expand-enter,
.expand-leave-to {
    height: 0 !important;
}
.expand-enter-active {
    transition: height $moderate $entrance-easing;
    overflow: hidden;
}
.expand-leave-active {
    transition: height $moderate $entrance-easing;
    overflow: hidden;
}

.dropdown-enter-active {
  transform-origin: top;
  transition: opacity $moderate, transform $moderate;
  transform: rotateX(0);
}
.dropdown-enter, .dropdown-leave-to {
  opacity: 0;
  transform: rotateX(90deg);
}
