.heading {
    font-weight: normal;
    line-height: 1.2;
    margin: 0 0 .6em;

    &__eyebrow {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: .25rem;
        text-transform: uppercase;

        @include color-modifiers(primary secondary);
    }

    /* Special syntax for <h1> and .h1 instead of .heading.-h1 */
    @at-root h1, .h1 {
        @extend .heading;
        font-size: 2.2rem;
        @include breakpoint(lg) {
            font-size: 2.6rem;
        }
    }

    /* Special syntax for <h2> and .h2 instead of .heading.-h2 */
    @at-root h2, .h2 {
        @extend .heading;
        font-size: 1.7rem;
        @include breakpoint(lg) {
            font-size: 2.1rem;
        }
    }

    /* Special syntax for <h3> and .h3 instead of .heading.-h3 */
    @at-root h3, .h3 {
        @extend .heading;
        font-size: 1.3rem;
        @include breakpoint(lg) {
            font-size: 1.6rem;
        }
    }

    /* Special syntax for <h4> and .h4 instead of .heading.-h4 */
    @at-root h4, .h4 {
        @extend .heading;
        font-size: 1.1rem;
        @include breakpoint(lg) {
            font-size: 1.25rem;
        }
    }

    /* Special syntax for <h5> and .h5 instead of .heading.-h5 */
    @at-root h5, .h5 {
        @extend .heading;
        font-size: 1rem;
        @include breakpoint(lg) {
            font-size: 1.15rem;
        }
    }
}
