///
/// A toggle button mixin.
///
/// $checked-color
///     button color when checked
/// $unchecked-color
///     button color when unchecked
/// $disabled-color
///     button color when disabled
///
@use "variables";

@mixin toggleButton(
    $checked-color: variables.$aqua-200,
    $unchecked-color: variables.$aqua-300,
    $disabled-color: variables.$disabled
) {
    display: inline-block;

    &__label {
        background-color: $unchecked-color;
        border-radius: 0.5rem;
        color: #fff;
        cursor: pointer;
        display: flex;
        margin: 0;
        padding: 0.618em 1.618em .618em .618em;
        user-select: none;

        &::before {
            background-color: variables.$white;
            border-radius: 0.5rem;
            color: rgba($checked-color, 0);
            height: 1.5rem;
            margin-right: .618em;
            text-align: center;
            width: 1.5rem;
            transition: 200ms variables.$fadeEasing;
        }
    }

    &__checkbox ~ &__label::before {
        @include fontawesome($character: '\f00c');
        line-height: 1.5;
    }

    &__radio ~ &__label::before {
        @include fontawesome($character: '\f111');
        border-radius: 2rem;
        line-height: 1.5;
    }

    &__label:hover::before {
        color: $checked-color;
    }

    &.-checked &__label,
    &__checkbox:checked ~ &__label,
    &__radio:checked ~ &__label {
        background-color: $checked-color;

        &::before {
            color: $checked-color;
        }
    }

    &.-disabled {
        cursor: default;
    }

    &.-disabled &__label,
    &__checkbox[disabled] ~ &__label,
    &__radio[disabled] ~ &__label {
        background-color: $disabled-color;
        cursor: default;
        pointer-events: none;
    }

    &__checkbox,
    &__radio {
        display: none;
    }
}
