<label class="toggleButton">
    <input class="toggleButton__input" type="checkbox">
    <span class="toggleButton__label">
        Checkbox
    </span>
</label>

<label class="toggleButton -disabled">
    <input disabled class="toggleButton__input" type="checkbox">
    <span class="toggleButton__label">
        Disabled
    </span>
</label>

<label class="toggleButton -radio">
    <input name="example-1" class="toggleButton__input" type="radio">
    <span class="toggleButton__label">
        Radio
    </span>
</label>

<label class="toggleButton -radio">
    <input name="example-1" class="toggleButton__input" type="radio">
    <span class="toggleButton__label">
        Radio
    </span>
</label>

<label class="toggleButton -radio -disabled">
    <input disabled class="toggleButton__input" type="radio">
    <span class="toggleButton__label">
        Disabled
    </span>
</label>

<br>

<label class="toggleButton">
    <input class="toggleButton__input" type="checkbox">
    <span class="toggleButton__label -outline">
        Checkbox
    </span>
</label>

<label class="toggleButton -disabled">
    <input disabled class="toggleButton__input" type="checkbox">
    <span class="toggleButton__label -outline">
        Disabled
    </span>
</label>

<label class="toggleButton -radio">
    <input name="example-2" class="toggleButton__input" type="radio">
    <span class="toggleButton__label -outline">
        Radio
    </span>
</label>

<label class="toggleButton -radio">
    <input name="example-2" class="toggleButton__input" type="radio">
    <span class="toggleButton__label -outline">
        Radio
    </span>
</label>

<label class="toggleButton -radio -disabled">
    <input disabled class="toggleButton__input" type="radio">
    <span class="toggleButton__label -outline">
        Disabled
    </span>
</label>
