///
/// A toggle button mixin.
///
/// $checked-color
///     button color when checked
/// $unchecked-color
///     button color when unchecked
/// $disabled-color
///     button color when disabled
///
@use "variables";
@use "utilities/fontawesome" as *;

@mixin toggleButton(
    $checked-color: variables.$aqua-200,
    $unchecked-color: variables.$aqua-300,
    $disabled-color: variables.$disabled
) {
    display: inline-block;

    &__input {
        display: none;
    }

    &__label {
        @include button($color: $unchecked-color, $hover-color: $unchecked-color);
        background-color: $unchecked-color;
        padding-left: 1em;

        &::before {
            @include fontawesome(900, '\f0c8');
            width: 1em;
            margin-right: .618em;
        }
    }

    &.-radio &__label::before {
        @include fontawesome(900, '\f111');
    }

    &.-checked &__label,
    &__input:checked ~ &__label {
        background-color: $checked-color;

        &::before {
            @include fontawesome(900, '\f00c');
        }
    }

    &.-radio-checked &__label,
    &.-radio &__input:checked ~ &__label {
        background-color: $checked-color;

        &::before {
            @include fontawesome(400, '\f111');
        }
    }
}
