<label class="toggleButton -blank">
    <input class="toggleButton__input" type="checkbox">
    <span class="toggleButton__label">
        Checkbox
    </span>
</label>

<label class="toggleButton -blank -disabled">
    <input disabled class="toggleButton__input" type="checkbox">
    <span class="toggleButton__label">
        Disabled
    </span>
</label>

<label class="toggleButton -blank -radio">
    <input name="example-1" class="toggleButton__input" type="radio">
    <span class="toggleButton__label">
        Radio
    </span>
</label>

<label class="toggleButton -blank -radio">
    <input name="example-1" class="toggleButton__input" type="radio">
    <span class="toggleButton__label">
        Radio
    </span>
</label>

<label class="toggleButton -blank -radio -disabled">
    <input disabled class="toggleButton__input" type="radio">
    <span class="toggleButton__label">
        Disabled
    </span>
</label>
