<label class="toggleButton -outline">
    <input class="toggleButton__input" type="checkbox">
    <span class="toggleButton__label">
        Checkbox
    </span>
</label>

<label class="toggleButton -disabled -outline">
    <input disabled class="toggleButton__input" type="checkbox">
    <span class="toggleButton__label">
        Disabled
    </span>
</label>

<label class="toggleButton -radio -outline">
    <input name="example-2" class="toggleButton__input" type="radio">
    <span class="toggleButton__label">
        Radio
    </span>
</label>

<label class="toggleButton -radio -outline">
    <input name="example-2" class="toggleButton__input" type="radio">
    <span class="toggleButton__label">
        Radio
    </span>
</label>

<label class="toggleButton -radio -disabled -outline">
    <input disabled class="toggleButton__input" type="radio">
    <span class="toggleButton__label">
        Disabled
    </span>
</label>
