<label class="toggleButton">
    <input class="toggleButton__checkbox" type="checkbox">
    <span class="toggleButton__label">
        Checkbox Toggle Button
    </span>
</label>

<label class="toggleButton -disabled">
    <input disabled class="toggleButton__checkbox" type="checkbox">
    <span class="toggleButton__label">
        Disabled Toggle Button
    </span>
</label>

<label class="toggleButton">
    <input name="example-1" class="toggleButton__radio" type="radio">
    <span class="toggleButton__label">
        Radio Toggle Button
    </span>
</label>

<label class="toggleButton">
    <input name="example-1" class="toggleButton__radio" type="radio">
    <span class="toggleButton__label">
        Radio Toggle Button
    </span>
</label>
