///
/// ACCORDION
///
/// ACCORDION requires the accordion.plugin.js file. Call the ACCORDION
/// function on your outer element (in our example we use an .accordion div).
/// You can pass in optional plugin options. See the demo page for a list.
/// Within the outer element class each accordion item requires a div wrapper.
/// Within the div wrapper there is a .header class and a .content class.
///
@mixin accordion() {
    border-top: 1px solid $gray-100;

    &__heading {
        cursor: pointer;
        display: flex;
        padding: .618rem 0;

        &::after {
            margin-left: auto;
            padding: 0 .618rem;
        }
    }


    &.-open &__heading {
        &::after {
            @include fontawesome(900, $fa-var-chevron-up);
        }
    }

    &.-closed &__heading {
        &::after {
            @include fontawesome(900, $fa-var-chevron-down);
        }
    }
}
