///
/// ACCORDION
///
/// ACCORDION requires the accordion.plugin.js file. Call the ACCORDION
/// function on your outer element (in our example we use an .accordion div).
/// You can pass in optional plugin options. See the demo page for a list.
/// Within the outer element class each accordion item requires a div wrapper.
/// Within the div wrapper there is a .header class and a .content class.
///
@use "/resources/styles/config";

@mixin accordion() {
    box-shadow: config.$med-shadow;
    margin-bottom: 1.5rem;
    $b: &; 
    
    display: block;

    &__header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: config.$padding;
        width: 100%;
    }

    &__heading {
        margin-bottom: 0;
    }

    &__content {
        border-top: 1px solid config.$gray-100;
        margin: 0 1rem;
        padding: .5rem 0;
        overflow: hidden;
        height: 0;
    }

    &__icon {
        transition: transform var(--duration-fast) config.$ease-out-quint;
    }

    &__transition {
        &-enter-from,
        &-leave-to {
            height: 0 !important;
            transition: height config.$slow config.$entrance-easing;
        }

        &-enter-active,
        &-leave-active {
            transition: height config.$slow config.$entrance-easing;
        }
    }
}

.accordion {
    @include accordion;
}
