///
/// ACCORDION
///
/// ACCORDION requires the accordion.plugin.js file. Call the ACCORDION
/// function on your outer element (in our example we use an .accordion div).
/// You can pass in optional plugin options. See the demo page for a list.
/// Within the outer element class each accordion item requires a div wrapper.
/// Within the div wrapper there is a .header class and a .content class.
///
@use "/resources/styles/config";

@mixin accordion() {
    box-shadow: config.$med-shadow;
    margin-bottom: 1.5rem;
    $b: &; 
    
    display: block;
    width: 100%; 

    &__header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: config.$thin-padding;
    }

    &__heading {
        margin-bottom: 0;
    }

    &__content {
        border-top: 1px solid config.$gray-100;
        padding: config.$thin-v-space 0;
        margin: 0 1rem;
        max-height: 100vh;
        display: block;
    }

    &__icon {
        transition: transform var(--duration-fast) config.$ease-out-quint;
    }
    
    // Animated padding to avoid snap when closing accordion 
    // Animated opacity to avoid text showing when accordiong closing
    // Animated max-height for open/closing accordion effect
    &__transition {
        &-enter-from,
        &-leave-to {
            max-height: 0;
            opacity: 0;
            padding: 0;
        }

        &-enter-active,
        &-leave-active {
            transition: opacity .5s;
            transition: max-height .7s;
            transition: padding .5s;
        }
    }
}

.accordion {
    @include accordion;
}
