<div class="tiles">
    <div class="tile">
        <div>
            <h4>One Great Headline</h4>
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
    <div class="tile">
        <div>
            <h4>One Great Headline</h4>
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
    <div class="tile">
        <div>
            <h4>One Great Headline</h4>
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</div>
