<!--
<nav>
    <ul>
        <li><a href="#" v-focus-group:primary>Dolor</a></li>
        <li><a href="#" v-focus-group:primary>Adipisicing</a></li>
        <li><a href="#" v-focus-group:primary>Sit</a></li>
    </ul>
</nav>

<nav>
    <ul>
        <li><a href="#" v-focus-group:secondary.vertical>Dolor</a></li>
        <li><a href="#" v-focus-group:secondary.vertical>Adipisicing</a></li>
        <li><a href="#" v-focus-group:secondary.vertical>Sit</a></li>
    </ul>
</nav>
-->

<nav>
    <ul style="display: flex">
        <li>
            <a href="#" v-focus-group:p v-focus-group:p1.vertical>Elit?</a>
            <ul>
                <li><a href="#" v-focus-group:p1.vertical>Amet</a></li>
                <li><a href="#" v-focus-group:p1.vertical>Sit?</a></li>
                <li><a href="#" v-focus-group:p1.vertical>Sit!</a></li>
                <li><a href="#" v-focus-group:p1.vertical>Adipisicing.</a></li>
            </ul>
        </li>
        <li>
            <a href="#" v-focus-group:p v-focus-group:p2.vertical>Elit</a>
            <ul>
                <li><a href="#" v-focus-group:p2.vertical>Sit.</a></li>
                <li><a href="#" v-focus-group:p2.vertical>Consectetur.</a></li>
                <li><a href="#" v-focus-group:p2.vertical>Elit.</a></li>
                <li><a href="#" v-focus-group:p2.vertical>Lorem.</a></li>
            </ul>
        </li>
        <li>
            <a href="#" v-focus-group:p v-focus-group:p3.vertical>Elit?</a>
            <ul>
                <li><a href="#" v-focus-group:p3.vertical>Dolor</a></li>
                <li><a href="#" v-focus-group:p3.vertical>Lorem?</a></li>
                <li><a href="#" v-focus-group:p3.vertical>Elit.</a></li>
                <li><a href="#" v-focus-group:p3.vertical>Sit?</a></li>
            </ul>
        </li>
    </ul>

</nav>
