<bp-navigation>
    <template #foo>
        <a class="primaryNavigation__link" aria-controls="js-e1" aria-expanded="false" href="#">Elit?</a>
        <ul class="dropdown" id="js-e1">
            <li><a href="#">Amet</a></li>
            <li><a href="#">Sit?</a></li>
            <li><a href="#">Sit!</a></li>
            <li><a href="#">Adipisicing.</a></li>
        </ul>
    </template>
    <template #bar>
        <a class="primaryNavigation__link" aria-controls="js-e2" aria-expanded="false" href="#">Banan</a>
        <ul class="dropdown" id="js-e2">
            <li><a href="#">Sit.</a></li>
            <li><a href="#">Consectetur.</a></li>
            <li><a href="#">Elit.</a></li>
            <li><a href="#">Lorem.</a></li>
        </ul>
    </template>
    <template #zee>
        <a class="primaryNavigation__link" aria-controls="js-e3" aria-expanded="false" href="#">Chuck</a>
        <ul class="dropdown" id="js-e3">
            <li><a href="#">Dolor</a></li>
            <li><a href="#">Lorem?</a></li>
            <li><a href="#">Elit.</a></li>
            <li><a href="#">Sit?</a></li>
        </ul>
    </template>
</bp-navigation>


