<div class="feature">
    <div class="feature__icon">
        <img src="http://dummyimage.com/50x40/ff675b/fff.png&amp;text=icon" alt="">
    </div>
    <h4 class="feature__headline">One Great Headline</h4>
    <p class="feature__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos et voluptatum aliquam neque beatae.</p>
    <a href="" class="feature__action button">Learn More</a>
</div>
