.dropdown {
    position: relative;

    &__button {
        @include fa($fa-var-chevron-right);
        display: none;
    }

    &__content {
        background-color: $gray-100;
        display: none;
        position: absolute;
        z-index: 1;

        &.-open {
            display: block;
        }
    }

    &.-rightEdge {
        .dropdown__content {
            right: 0;
        }
    }

    &.-fullWidth {
        position: static;

        .dropdown__content {
            left: 0;
            right: 0;
        }
    }
}
