<bp-dropdown href="/about" label="Our Company" id="js-about">
    <bp-directional>
        <ul>
            <li>
                <a href=""><span>Elit</span></a>
            </li>
            <li>
                <a href=""><span>Sit</span></a>
            </li>
            <li>
                <a href=""><span>Consectetur</span></a>
            </li>
        </ul>
    </bp-directional>
</bp-dropdown>
