<bp-dropdown href="/about" label="Our Company" id="js-about">
    <bp-directional>
        <div class="container">
            <ul>
                <li>
                    <a href=""><span>Elit</span></a>
                </li>
                <li>
                    <a href=""><span>Sit</span></a>
                </li>
                <li>
                    <a href=""><span>Consectetur</span></a>
                </li>
            </ul>
        </div>
    </bp-directional>
</bp-dropdown>
<bp-dropdown href="/about" label="Our Company" id="js-about">
    <bp-directional>
        <div class="container">
            <ul>
                <li>
                    <a href=""><span>Elit</span></a>
                </li>
                <li>
                    <a href=""><span>Sit</span></a>
                </li>
                <li>
                    <a href=""><span>Consectetur</span></a>
                </li>
            </ul>
        </div>
    </bp-directional>
</bp-dropdown>
<bp-dropdown href="/about" label="Our Company" id="js-about">
    <bp-directional>
        <div class="container">
            <ul>
                <li>
                    <a href=""><span>Elit</span></a>
                </li>
                <li>
                    <a href=""><span>Sit</span></a>
                </li>
                <li>
                    <a href=""><span>Consectetur</span></a>
                </li>
            </ul>
        </div>
    </bp-directional>
</bp-dropdown>
