.dropdown {
    position: relative;

    &__button {
        @include fa($fa-var-chevron-right);
        display: none;
    }

    &__content {
        display: none;
        position: absolute;

        &.-open {
            display: block;
        }
    }
}
