.dropdown {
    &__button {
        @include fa($fa-var-chevron-right);
        display: none;
    }

    &__content {
        display: none;

        &.-open {
            display: block;
        }
    }
}
